<div style="padding: 2%;">
    <div class="col-lg-12">
        <div class="card card-primary card-outline shadow-lg">
            <div class="card-header">
                <h3 class="card-title"><i class="nav-icon fas fa-user-cog mr-2"></i>{{name}}</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row g-3">
                                    <div class="col-sm-6">
                                        <img src="./assets/respon.png" class="img-circle elevation-1" alt="User Image">
                                    </div>
                                    <div class="col-sm-6 mt-4">
                                        <h5 style="margin-left: 60px;font-size: small;">{{name}}</h5>
                                        <h6 style="font-size: small;"> Role : Responsable comptabilité et finance</h6>
                                        <h6 style="font-size: small;">Email : {{email}}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>